$leftmenu-width: 12em;
$switch-menu-width: 49em;
$hamburger-left-active: 23em;

/* *******************************************************************
Add transition to containers so they can push in and out.
*/
#leftmenu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}



/*
The `#leftmenu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#leftmenu {
    margin-left: -$leftmenu-width; /* "#leftmenu" width */
    width: $leftmenu-width;
    position: fixed;
    top: 3em;
    left: 0;
    bottom: 0;
    z-index: 3;
    background: #000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #leftmenu a {
        color: #888;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }


    /*
    Remove all background/borders, since we are applying them to #leftmenu.
    */
     #leftmenu .pure-menu,
     #leftmenu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #leftmenu .pure-menu ul,
    #leftmenu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #leftmenu .pure-menu li a:hover {
            background: #333;
            color: #FFF;
        }

        #leftmenu .pure-menu li a:focus {
            background: #000;
            color: #888;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #leftmenu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #leftmenu .pure-menu-selected a,
        #leftmenu li.pure-menu-selected a:focus {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #leftmenu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }


/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 5.8em;
    left: 0; /* "#leftmenu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 1.8em 1em;
    cursor: pointer;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
        -webkit-transition: all 0.8s;
           -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
             -o-transition: all 0.8s;
                transition: all 0.8s;
    }

    .menu-link span:before,
    .menu-link span:after {
        position: absolute;
        margin-top: -0.6em;
        content: " ";
    }

    .menu-link span:after {
        margin-top: 0.6em;
    }

    body >div.active .menu-link span:before {
        -webkit-transform: rotate(45deg) translate(.5em, .4em);
           -moz-transform: rotate(45deg) translate(.5em, .4em);
            -ms-transform: rotate(45deg) translate(.5em, .4em);
             -o-transform: rotate(45deg) translate(.5em, .4em);
                transform: rotate(45deg) translate(.5em, .4em);
    }

    body >div.active .menu-link span:after {
        -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
           -moz-transform: rotate(-45deg) translate(.45em, -.35em);
            -ms-transform: rotate(-45deg) translate(.45em, -.35em);
             -o-transform: rotate(-45deg) translate(.45em, -.35em);
                transform: rotate(-45deg) translate(.45em, -.35em);
    }

    .menu-link.active span {
        background: transparent none repeat scroll 0 0;
    }

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: $switch-menu-width) {

    #leftmenu {
        left: $leftmenu-width;
    }

    .menu-link {
        position: fixed;
        left: $leftmenu-width;
        display: none;
    }
}

@media (max-width: $switch-menu-width) {

    body >div.active #leftmenu {
        left: $leftmenu-width;
    }

    body >div.active .menu-link {
        left: $hamburger-left-active;
        display: block;
    }
}