$padding-left: 12.5em;
$switch-menu-width: 48em;

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.top-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.top-menu {
    background: #000;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.top-menu .pure-menu-selected a.pure-menu-link {
    color: #FFF;
}

.top-menu a {
    color: #888;
}

.top-menu .pure-menu-item a:hover,
.top-menu .pure-menu-item a:focus {
    background: none;
    border: none;
    color: #FFF;
}

.top-menu .pure-menu-link, .top-menu .pure-menu-disabled, .top-menu .pure-menu-heading {
    padding: 0.5em 0.7em;
}

.top-menu .pure-menu-active > .pure-menu-link, .top-menu .pure-menu-link:hover, .top-menu .pure-menu-link:focus {
    background-color: transparent;
}

.menu-item-invisible {
    opacity: 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.top-menu img {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 9px;
    left: 12px;
}